

.friendsModal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1000;
    position: fixed;
    visibility: hidden;
}

.friendsModal.open{
    visibility: visible;
}

.closeZone{
    width: 100%;
    height: 70vh;
    min-height: 504px;
}

.friendsWind{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 216px;
    height: 0;
    background-color: rgb(10, 10, 10);
    border-radius: 35px 35px 0 0;
    opacity: .2;

    transition: opacity .15s linear;
}


.friendsWind.open{
    height: 30vh;
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}



.friendsWind .header{
    width: 100%;
    height: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    color: white;
    font-weight: 600;
}

.friendsWind .body{
    width: 100%;
    height: 70%;
    padding: 0 6%;
    padding-top: .5vh;
    text-align: center;
}

.inviteButtot{
    width: 94%;
    height: 6vh;
    min-height: 52px;
    max-height: 74px;
    border-radius: 18px 18px;
    border: none;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(70, 70, 70);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
