#homePage{
    display: block;
    text-align: center;
    min-height: 700px;
}


/*    user info    */
.userInfo{
    width: 100%;
    height: 35vh;
    min-height: 240px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.userPhoto{
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}
.userPhoto .photo{
    width: 92px;
    height: 92px;
    border-radius: 50%; 
    border: 4px solid white;
}
.userName{
    font-size: 22px;
    font-weight: 550;
    color: white;
    text-transform: uppercase;
    letter-spacing: .5px;
}


/*    balance    */
.balance{
    width: 100%;
    height: 20vh;
    min-height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 900;
    color: white;
}


/*    play    */
.play{
    width: 100%;
    height: 32.5vh;
    min-height: 230px;
    justify-content: center;
    display: inline-block;
    align-items: center;
    justify-content: center;    
}


.game{
    width: 98%;
    height: 68%;
    margin-top: 4.5%;
    min-height: 150px;
    display: inline-block;
    background-color: rgb(15, 15, 15);
    border: 2.5px solid rgb(70, 70, 70);
    border-radius: 20px 20px;
}

.inviteFriends{
    width: 98%;
    height: 22.5%;
    min-height: 54px;
    max-height: 64px;
    background-color: rgb(15, 15, 15);
    padding:0 18px;
    color: rgba(255, 255, 255);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 2.5px solid rgb(70, 70, 70);
    border-radius: 14px 14px;
}





/*  media    */
@media (max-height: 530px), (max-width: 326px){
    .userPhoto .photo{
        width: 82px;
        height: 82px;
    }
    .userName{
        font-size: 18px;
    }
    .balance{
        font-size: 42px;
    }

}

@media (min-width: 415px){
    .userPhoto .photo{
        width: 96px;
        height: 96px;
    }
    .userName{
        font-size: 23px;
    }
    .balance{
        font-size: 49px;
    }

}
