#infoPage{
    color: white;
    text-align: center;
    display: none;
    min-height: auto;
}


/*.logoInfo{
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
    font-weight: 600;
    /*-webkit-text-stroke: 2px #2da2c5; /* Толщина и цвет обводки 

}


.descrip{

    display: inline-block;
    width: 92%;
    color: rgba(255, 255, 255, .8);
    text-align: justify;
}*/


.description{
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    color: rgb(175, 175, 175);
    padding: 6% 3%;
    text-align: center;
}


.logoInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    margin: 5% 0;
    color: white;
    display: inline-flex;
    width: 180px;
    border-radius: 20px 20px;    
}
.connectWallet{
    width: 100%;
    height: 22vh;
    max-height: 190px;
    min-height: 160px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: black;

    
}

.connectWalletBtn{
    margin-top: 10px;
    width: 90%;
    height: 34%;
    min-height: 45px;
    max-height: 60px;
    border-radius: 12px 12px;
    background-color: rgb(0, 90, 110)/*rgb(0, 20, 25)*/;
    color: white;
    border: 3px solid rgb(0, 90, 110)/*rgb(0, 100, 125)*/;
    font-size: 17px;

    
}


@media (max-height: 530px), (max-width: 326px){
    .description{
        height: 72vh;
        font-size: 15px;
    }
    .logoInfo{
        font-size: 34px;
    }

}

@media(max-height: 376px){
    .description{
        height: 60vh;
    }
}