#infoPage{
    color: white;
    text-align: center;
    display: block;
    min-height: auto;
}


/*.logoInfo{
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
    font-weight: 600;
    /*-webkit-text-stroke: 2px #2da2c5; /* Толщина и цвет обводки 

}


.descrip{

    display: inline-block;
    width: 92%;
    color: rgba(255, 255, 255, .8);
    text-align: justify;
}*/


.description{
    width: 100%;
    height: 78vh;
    overflow-y: auto;
    color: rgb(160, 160, 160);
    padding: 6% 3%;
    text-align: center;
}


.logoInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 5%;
    color: white;
    display: inline-flex;
    width: 180px;
    border-radius: 20px 20px;    
}
.connectWallet{
    width: 100%;
    height: 21vh;
    max-height: 190px;
    min-height: 160px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.connectWalletBtn{
    margin-top: 5px;
    width: 90%;
    height: 6vh;
    min-height: 56px;
    max-height: 74px;
    border-radius: 15px 15px;
    background-color: rgb(10, 10, 10)/*rgb(0, 20, 25)*/;
    color: white;
    border: 1.5px solid rgb(120, 120, 120)/*rgb(0, 100, 125)*/;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-height: 530px), (max-width: 326px){
    .description{
        height: 72vh;
        font-size: 15px;
    }
    .logoInfo{
        font-size: 34px;
    }

}

@media(max-height: 376px){
    .description{
        height: 60vh;
    }
}