*{
    box-sizing: border-box;
    font-family: "Rubik Mono One", serif;
    padding: 0;
    margin: 0;
}


/*  download ---------------------------------------------*/
.downloadScreen{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(31, 0, 48);
    background: radial-gradient(circle, rgb(12, 0, 18) 0%, rgb(10, 10, 10) 100%);
    background: radial-gradient(circle, rgb(3, 0, 4) 0%, rgb(10, 10, 10) 100%);

    color: white;
    min-height: 684px;
}

body{
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
}

.bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    background-image: url("bg.jpg");
    opacity: .5;
}

.main{
    width: 100vw;
    height: 100vh;
    background: rgba(31, 0, 48);
    background: radial-gradient(circle, rgb(16, 0, 24) 10%, rgb(10, 10, 10, 1) 70%);
    padding: 12px;
    min-height: 684px;
    backdrop-filter: blur(12px);
    z-index: 1000;
}
/*--*/
.logo{
    width: 70px;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    margin-right: 5px;
    border-radius: 15px;
    opacity: .25;
    margin-top: 5px;
}

.userInfoBlock{
    width: 100%;
    height: 12vh;
    min-height: 86px;

    display: flex;
    align-items: center;
    border-radius: 18px;
    padding: 0 8px;
    position: relative;
    background-color: #151416;
    border: 1.5px solid rgb(100, 100, 100);
    color: white;
}

.userPhoto{
    height: 10vh;
    min-height: 70px;
    min-width: 70px;
    border-radius: 20%;
    margin-right: 4%;
}


.userInfo{
    height: 8vh;
    min-height: 57px;
    width: 71%;
    position: relative;
}
.username{
    font-size: 19px;
    display: flex;
    align-items: center;
}

/*--*/
.energy{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11.5px;
}

.progressBar{
    width: 100%;
    height: 1.4vh;
    min-height: 10px;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 2px;

}

.progressB{
    height: 100%;
    border-radius: 3px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    transition: all .15s linear;
}




/*----*/
.balance{
    width: 100%;
    height: 18vh;
    min-height: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 38px;
    margin-bottom: -10px;
}

/*----*/
.tap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    min-height: 273px;
    width: 100%;
    margin-bottom: 30px;
}

.tapImg{
    height: 100%;
}

.tapImg:active{
    transform: scale(.99);
}


.inviteFriendsBtn{
    width: 100%;
    height: 7vh;
    min-height: 50px;
    border-radius: 15px;
    font-size: 14px;
    border: none;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;


    background-color: rgba(110, 110, 110, 0.1);
    border: 1.5px solid rgb(100, 100, 100);
    color: white;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1) inset;

}


.btnsRow{
    width: 100%;
    height: 7vh;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;

}

.btnInRow{
    height: 100%;
    width: 32%;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1) inset;

    background-color: rgba(110, 110, 110, 0.1);
    border: 1.5px solid rgb(100, 100, 100);
    color: rgb(255, 255, 255);


}







/*----*/

.walletBtnBlock{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 6vh;
    min-height: 48px;
}

.walletBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 102px;
    padding: 2px 16px;
    font-size: 12px;
    border: none;
    background-color: rgb(106, 0, 255, .9);
    color: white;
}









/*___________rafflePage_______________________________*/
.rafflePage{
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: all .1s ease-in-out;
    background: black;
    padding: 12px;
    background: rgba(31, 0, 48);
    background: radial-gradient(circle, rgb(16, 0, 24) 10%, rgb(10, 10, 10, 1) 70%);
}

.rafflePage.open{
    display: block;
    opacity: 1;
    padding: 12px;
}

.headerRaffle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    color: white;
}

.toFeelZone{
    width: 100%;
    height: 10.5vh;
    min-height: 82px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    backdrop-filter: blur(12px);

}

.toFeelBtn{
    margin-top: .3vh;
    width: 94%;
    height: 7.2vh;
    min-height: 50px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    background-color: rgba(110, 110, 110, 0.1);
    border: 1.5px solid rgb(100, 100, 100);
    color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1) inset;
}

.bodyRaffle{
    margin: 20px 0;
    margin-bottom: 100px;
    font-size: 12px;
    color: rgb(160, 160, 160);
}







.modalWallet{
    width: 100%;
    height: 100vh;
    min-height: 684px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.modalWallet.open{
    visibility: visible;
}


.windowModalWallet{
    margin-bottom: 150px;
    width: 90%;
    background-color: rgb(0, 0, 0, .75);
    backdrop-filter: blur(5px);
    height: 16vh;
    min-height: 109px;
    border-radius: 17px;
    padding: 15px;
    font-size: 13px;
    color: white;
    border: 1.5px solid rgb(120, 120, 120);
}

.headerModal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.bodyModal{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: .5;
}







@media (max-width: 370px) {
    .energy{
        font-size: 11px;
    }
    .username{
        font-size: 17px;
    }

    .logo{
        margin-right: 0;
    }
}

@media (min-width: 450px) {
    .main{
        display: none;
    }
    .bg{
        display: none;
    }
}
